.stopwatch{
    background-color: rgba(0, 0, 0, 0.438);
    color: greenyellow;
    border-radius: 25px;
    padding: 10px;
    margin: 100px;
    text-align: center;
}

button{
    border-radius: 20px;
    padding: 10px 20px;
    
}
.time{
    margin: 10px;
    font-size: 20px;

}
